/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss';
@reference "tailwindcss";

@layer base {
  body {
    @apply bg-gray-100 text-gray-900;
  }
}

@layer components {
  .btn-primary {
    @apply text-white px-4 py-2 rounded-lg hover:bg-primary-600 transition;
  }

  .btn-secondary {
    @apply bg-gray-200 text-gray-800 px-4 py-2 rounded-lg hover:bg-gray-300 transition;
  }

  .input-field {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-500;
  }

  .card {
    @apply bg-white rounded-lg shadow-md p-4;
  }
}
